<!DOCTYPE html>
<html>
<head>
    <title>Trident Test</title>
</head>
<body>
    <p>Hello {{ name }}!</p>
    <p>Welcome to Trident.</p>

    {% include 'SeerUKTestModule:Test:module-test.html.twig' %}
</body>
</html>
