<!DOCTYPE html>
<html>
<head>
    <title>Trident Test</title>
</head>
<body>
    {% if app.user %}
        <p>Welcome back, {{ app.user.username }}.</p>
    {% else %}
        <p>Hello guest.</p>
    {% endif %}
    <p>Welcome to Trident.</p>

    <p>There are currently <em>{{ name }}</em> rows in the user table.</p>

    {# {% include 'SeerUKTestModule:Test:module-test.html.twig' %} #}
</body>
</html>
